@{
    ViewData["Title"] = "Entrenadores Pokemons";
}

<!-- Vincula el archivo JavaScript -->
<script src="~/js/entrenador.js"></script>

 <div class="text-center">
     <img src="~/images/logopokemon1.png" alt="Logo Pokémon" class="pokemon-logo mb-4" />
    <h1 class="display-4 mb-4" style="font-weight: bold;">Entrenadores Pokemons</h1>
 </div>

<!-- Enlace a la hoja de estilos -->
<link rel="stylesheet" href="~/css/pokedex.css" />



