@{
    ViewData["Title"] = "Equipo de Lucha";
}

<script src="~/js/equipo.js"></script>

<div class="text-center">
    <img src="~/images/pokequipo.png" alt="Logo Pokémon" class="pokemon-logo mb-4" />
</div>

<link rel="stylesheet" href="~/css/pokedex.css" />


