@{
    ViewData["Title"] = "Atención Enfermería";
}

<div class="text-center">
    <img src="~/images/logopokemon1.png" alt="Logo Pokémon" class="pokemon-logo mb-4" />
    <h1 class="display-4 mb-4" style="font-weight: bold;">Servicio de Enfermería</h1>
</div>

<!-- Vincula el archivo JavaScript -->
<script src="~/js/enfermeria.js"></script>
