@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hola Bievenidos</h1>
    <p>A la presentación del grupo 2</a>.</p>
    <img src="https://www.bing.com/th/id/OGC.318fee1b17a7c102ccce7bffa604be51?pid=1.7&rurl=https%3a%2f%2fmedia.giphy.com%2fmedia%2fCmr1OMJ2FN0B2%2fgiphy.gif&ehk=ofVSHUqZ1io%2fuzquWjZe%2bzNfL3p0HOr0GtCDtNJDEV0%3d">
</div>
