@page
@model Tarea1.Pages.PlaylistModel
@{
    ViewData["Title"] = "playlist";
}
<h1 class="display-4">Playlist de los miembros</h1>
<p>En este apartado, cada miembro del grupo 2 colocara una playlist de Youtube con las canciones que mas les gustan</a>.</p>
<h4>Brenda Karina Rojas Cortés</h4>
<h5>Playlist</h5>
<img src="/images/playlist.jpg" width="300" height="400" />
<a href="https://youtube.com/playlist?list=PLPWhKP0Db8HIceiDyt8KHuGkbv-hpSezI&si=UG0Otabaahk9ZTlr">Playlist YouTube</a>

<h4>Cristopher Rodríguez Fernández</h4>
<h5>Playlist</h5>
<img src="/images/playlist2.jpg" width="300" height="400"/>
<a href="https://youtu.be/5qm8PH4xAss?si=n0h-0DqFC7ajPMD1">Playlist Youtube</a>

<h4>Paola Segura Bellanero</h4>
<h5>Playlist</h5>
<img src="/images/playlist3.jpg" width="300" height="400" />
<a href="https://youtu.be/NUteQQCMa_k?si=O4iwqzIgQhX9bb4n">Playlist Youtube</a>

<h4>José Andrés Sánchez Piedra</h4>
<h5>Playlist</h5>
<img src="/images/playlistjs.jpg" width="300" height="400" />
<a href="https://www.youtube.com/playlist?list=PLR2D9K94tFveSRh_nbw7C94PmFAAJKBin">Playlist Youtube</a>