@page
@model Tarea1.Pages.PlaylistModel
@{
    ViewData["Title"] = "playlist";
}
<h1 class="display-4">Playlist de los miembros</h1>
<p>En este apartado, cada miembro del grupo 2 colocara una playlist de Youtube con las canciones que mas les gustan</a>.</p>
<h4>Brenda Karina Rojas Cortés</h4>
<h5>Playlist</h5>
<a href="https://youtube.com/playlist?list=PLPWhKP0Db8HIceiDyt8KHuGkbv-hpSezI&si=UG0Otabaahk9ZTlr">Playlist YouTube</a>
