@page
@model Tarea1.Pages.PresentacionModel
@{
    ViewData["Title"] = "presentacion";
}
<h1 class="display-4">Presentaciones de los miembros</h1>
<p>En este apartado, cada miembro del grupo 2 se presentará un poco.</a>.</p>

<h4>Brenda Karina Rojas Cortés</h4>
<img src="/images/foto1.jpg" width="300" height="200" />
<h5>Hobbies</h5>
<ul>

    <li>Jugar videojuegos</li>
    <li>Recrear Maquillajes</li>
    <li>Leer</li>

</ul>

<h4>Cristopher Rodríguez Fernández</h4>
<img src="/images/foto2.jpg" width="300" height="300"/>
<h5>Hobbies</h5>
<ul>

    <li>Prácticar deportes de artes marciales (taekwondo y karate)</li>
    <li>Jugar fútbol soccer</li>
    <li>Escuchar música rock y hip-hop</li>
    <li>Autos a escala y modificados</li>
    <li>Jugar videojuegos</li>

</ul>

<h4>Paola Segura Bellanero</h4>
<img src="/images/foto3.jpg" width="300" height="200" />
<h5>Hobbies</h5>
<ul>

    <li>Jugar videojuegos</li>
    <li>Jugar fútbol</li>
    <li>Viajar</li>

</ul>

<h4>José Andrés Sánchez Piedra</h4>
<img src="/images/fotojs.jpeg" width="300" height="300" />
<h5>Hobbies</h5>
<ul>

    <li>Jugar videojuegos</li>
    <li>Escuchar Musica</li>
    <li>Jugar fútbol</li>

</ul>