@page
@model Tarea1.Pages.PresentacionModel
@{
    ViewData["Title"] = "presentacion";
}
<h1 class="display-4">Presentaciones de los miembros</h1>
<p>En este apartado, cada miembro del grupo 2 se presentará un poco.</a>.</p>

<h4>Brenda Karina Rojas Cortés</h4>
<img src="/images/foto1.jpg" width="300" height="200" />
<h5>Hobbies</h5>
<ul>

    <li>Jugar videojuegos</li>
    <li>Recrear Maquillajes</li>
    <li>Leer</li>

</ul>

<h4>Cristopher Rodríguez Fernández</h4>
<img src="/images/foto2.jpg" width="300" height="600"/>
<h5>Hobbies</h5>
<ul>

    <li>Prácticar deportes de artes marciales (taekwondo y karate)</li>
    <li>Jugar fútbol soccer</li>
    <li>Autos a escala y modificados</li>
    <li>Jugar videojuegos</li>
    <li>Ver documentales</li>

</ul>
