@page
@model Tarea1.Pages.PresentacionModel
@{
    ViewData["Title"] = "presentacion";
}
<h1 class="display-4">Presentaciones de los miembros</h1>
<p>En este apartado, cada miembro del grupo 2 se presentará un poco.</a>.</p>

<h4>Brenda Karina Rojas Cortés</h4>
<h5>Hobbies</h5>
<ul>

    <li>Jugar videojuegos</li>
    <li>Recrear Maquillajes</li>
    <li>Leer</li>

</ul>
