@page
@model Tarea1.Pages.SeriesModel
@{
    ViewData["Title"] = "series";
}
<h1 class="display-4">Peliculas y series favoritas</h1>
<p>En este apartado, cada miembro del grupo 2 colocara sus peliculas o series favoritas</a>.</p>
<h4>Brenda Karina Rojas Cortés</h4>
<h5>1-Heartstopper</h5>
<a href="https://es.wikipedia.org/wiki/Heartstopper"> Sinópsis Heartstopper</a>
<h6>Tráiler</h6>
<iframe width="560" height="315" src="https://www.youtube.com/embed/YtJ9uwqY1M4?si=JuaJPklKJFUpdurZ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<h5>2-Marry my Husband</h5>
<a href="https://drama.fandom.com/es/wiki/Marry_My_Husband#Sinopsis"> Sinópsis Marry my Husband</a>
<h6>Tráiler</h6>
<iframe width="560" height="315" src="https://www.youtube.com/embed/lfJGSxXf9Xg?si=QgaV8Zm_-PtY1UOi" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<h5>3-Estamos muertos</h5>
<a href="https://es.wikipedia.org/wiki/Estamos_muertos"> Sinópsis Estamos Muertos</a>
<h6>Tráiler</h6>
<iframe width="560" height="315" src="https://www.youtube.com/embed/62jVLZ4JfjM?si=4eOSK4x29-fygkTI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<h5>4-El extraño mundo de Jack</h5>
<a href="https://es.wikipedia.org/wiki/The_Nightmare_Before_Christmas"> Sinópsis El extraño mundo de Jack</a>
<h6>Película</h6>
<iframe width="560" height="315" src="https://www.youtube.com/embed/LDZOSp_qftM?si=oGfgdAwmn69ZXpBr" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

<h4>Cristopher Rodríguez Fernández</h4>
<h5>1-Cobra Kai</h5>
<a href="https://es.wikipedia.org/wiki/Cobra_Kai">Sinópsis Cobra Kai</a>
<h6>Trailer</h6>
<iframe width="560" height="315" src="https://www.youtube.com/embed/xVYAh0MQtiI?si=vgCNbL-lhuaBLCbj" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<h5>2-Rápido y Furioso</h5>
<a href="https://es.wikipedia.org/wiki/The_Fast_and_the_Furious_(pel%C3%ADcula_de_2001)">Sinópsis Rápido y Furioso</a>
<h6>Trailer</h6>
<iframe width="560" height="315" src="https://www.youtube.com/embed/2TAOizOnNPo?si=8Ie85pgR7vKD1xlj" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<h5>3-Gigantes de Acero</h5>
<a href="https://es.wikipedia.org/wiki/Real_Steel">Sinópsis Gigantes de Acero</a>
<h6>Trailer</h6>
<iframe width="560" height="315" src="https://www.youtube.com/embed/SwfmV3nn6QA?si=Iz_s0Qz1tz4LzJM2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<h5>4-El Mariachi</h5>
<a href="https://es.wikipedia.org/wiki/El_mariachi">Sinópsis El Mariachi</a>
<h6>Trailer</h6>
<iframe width="560" height="315" src="https://www.youtube.com/embed/QtNJsvpHye0?si=PdKkQis-fhFI7dCo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

<h4>Paola Segura Bellanero</h4>
<h5>1-W Two Worlds</h5>
<a href=" https://drama.fandom.com/es/wiki/W">Sinópsis W Two Worlds</a>
<h6>Trailer</h6>
<iframe width="560" height="315" src="https://www.youtube.com/embed/iFyxffHNwvE?si=lLOkoh8bnB0CyzBT" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<h5>2-Jack y la mecánica del corazón</h5>
<a href="https://es.wikipedia.org/wiki/Jack_y_la_Mec%C3%A1nica_del_Coraz%C3%B3n_(Pel%C3%ADcula)">Sinópsis Jack y la mecánica del corazón</a>
<h6>Película</h6>
<iframe width="560" height="315" src="https://www.youtube.com/embed/PVeCsreaDhU?si=ZhCcy5ODEDz1HQMm" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> 
<h5>3-Aggretsuko</h5>
<a href=" https://es.wikipedia.org/wiki/Aggretsuko">Sinópsis Aggretsuko</a>
<h6>Trailer</h6>
<iframe width="560" height="315" src="https://www.youtube.com/embed/VBvHvjLGvhY?si=mo2MYXkOgljvdz9B" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<h5>4-Bridgerton</h5>
<a href="sinopsis https://es.wikipedia.org/wiki/Bridgerton">Sinópsis Bridgerton</a>
<h6>Trailer</h6>
<iframe width="560" height="315" src="https://www.youtube.com/embed/5cOfyLkQRGk?si=5DgLUiCsODtaEjO8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

<h4>José Andrés Sánchez Piedra</h4>
<h5>1-Naruto</h5>
<a href=" https://naruto.fandom.com/es/wiki/Serie_Naruto">Sinópsis Naruto</a>
<h6>Trailer</h6>
<iframe width="560" height="315" src="https://www.youtube.com/embed/QczGoCmX-pI?si=7k3lR7McN4S_4KJU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<h5>2-Harry Potter</h5>
<a href=" https://harrypotter.fandom.com/es/wiki/Harry_Potter_y_la_piedra_filosofal">Sinópsis Harry Potter</a>
<h6>Trailer</h6>
<iframe width="560" height="315" src="https://www.youtube.com/embed/VyHV0BRtdxo?si=4xBW04WWraWJkPX3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<h5>3-Gigantes de Acero</h5>
<a href=" https://www.ecured.cu/Gigantes_de_acero">Sinópsis Gigantes de Acero</a>
<h6>Trailer</h6>
<iframe width="560" height="315" src="https://www.youtube.com/embed/2G58gU25YdQ?si=Qp_Oe0yCBOt5-bVx" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<h5>4-Rapidos y Furiosos 2</h5>
<a href=" https://www.lahiguera.net/cinemania/pelicula/748/sinopsis.php">Sinópsis Rapidos y Furiosos 2</a>
<h6>Trailer</h6>
<iframe width="560" height="315" src="https://www.youtube.com/embed/8gf7FEmBDDA?si=CuPorv84Ze89mG3m" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>