@page
@model Tarea1.Pages.SeriesModel
@{
    ViewData["Title"] = "series";
}
<h1 class="display-4">Peliculas y series favoritas</h1>
<p>En este apartado, cada miembro del grupo 2 colocara sus peliculas o series favoritas</a>.</p>
<h4>Brenda Karina Rojas Cortés</h4>
<h5>1-Heartstopper</h5>
<a href="https://es.wikipedia.org/wiki/Heartstopper"> Sinópsis Heartstopper</a>
<h6>Tráiler</h6>
<iframe width="560" height="315" src="https://www.youtube.com/embed/YtJ9uwqY1M4?si=JuaJPklKJFUpdurZ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<h5>2-Marry my Husband</h5>
<a href="https://drama.fandom.com/es/wiki/Marry_My_Husband#Sinopsis"> Sinópsis Marry my Husband</a>
<h6>Tráiler</h6>
<iframe width="560" height="315" src="https://www.youtube.com/embed/lfJGSxXf9Xg?si=QgaV8Zm_-PtY1UOi" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<h5>3-Estamos muertos</h5>
<a href="https://es.wikipedia.org/wiki/Estamos_muertos"> Sinópsis Estamos Muertos</a>
<h6>Tráiler</h6>
<iframe width="560" height="315" src="https://www.youtube.com/embed/62jVLZ4JfjM?si=4eOSK4x29-fygkTI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<h5>4-El extraño mundo de Jack</h5>
<a href="https://es.wikipedia.org/wiki/The_Nightmare_Before_Christmas"> Sinópsis El extraño mundo de Jack</a>
<h6>Película</h6>
<iframe width="560" height="315" src="https://www.youtube.com/embed/LDZOSp_qftM?si=oGfgdAwmn69ZXpBr" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>



