@{
    ViewData["Title"] = "Historial de Enfermería";
}

<link rel="stylesheet" href="~/css/pokedex.css" />

<div class="text-center">
    <img src="~/images/pokehistorial.png" alt="Logo Pokémon" class="pokemon-logo mb-4" />
    <div class="historial-container">
        <div class="retos-enviados">
            <h2>Pokémones Enviados</h2>
            <br />
            <ul id="pokemon-enviados">
            </ul>
        </div>
        <div class="pokemon-tratados">
            <h2>Pokémones Tratados</h2>
            <br />
            <ul id="pokemon-tratados">
            </ul>
        </div>
    </div>
</div>

<script src="~/js/historial.js"></script>
