@{
    ViewData["Title"] = "Historial de Enfermería";
}

<link rel="stylesheet" href="~/css/site.css" />


<div class="text-center">
    <img src="~/images/pokehistorial.png" alt="Logo Pokémon" class="pokemon-logo mb-4" />

    <h2 class="mb-4">Historial de Pokemones Sanados</h2>
    <div id="historial-container">
        <script src="~/js/historial.js"></script>
    </div>
</div>
