@{
    ViewData["Title"] = "Historial";
}

<script src="~/js/historial.js"></script>

<div class="text-center">
    <img src="~/images/pokehistorial.png" alt="Logo Pokémon" class="pokemon-logo mb-4" />
</div>

<link rel="stylesheet" href="~/css/pokedex.css" />

<div id="historial-container" class="historial-lista">

</div>
