@{
    ViewData["Title"] = "Historial";
}

<script src="~/js/historial.js"></script>

<div class="text-center">
    <img src="~/images/pokehistorial.png" alt="Logo Pokémon" class="pokemon-logo mb-4" />
    <div class="historial-container">
        <div class="retos-enviados">
            <h2>Retos Enviados</h2>
            <br />
            <ul id="retos-enviados">
            </ul>
        </div>
        <div class="retos-recibidos">
            <h2>Retos recibidos</h2>
            <br />
            <ul id="retos-recibidos">
            </ul>
        </div>
    </div>
</div>

