@{
    ViewData["Title"] = "Historial de Atención";
}

<link rel="stylesheet" href="~/css/pokedex.css" />

<div class="container">
    <div class="text-center">
        <img src="~/images/pokehistorial.png" alt="Logo Pokémon" class="pokemon-logo mb-4" />
    </div>
</div>

<script src="~/js/historial.js"></script>
