@{
    ViewData["Title"] = "Mensajes";
}

<div class="text-center">
    <img src="~/images/mensajepoke.png" alt="Logo Pokémon" class="pokemon-logo mb-4" />
    <div class="phone-simulator">
        <div class="phone-header">
            Mensajes
        </div>
        <div class="phone-body">
            <div class="message received">Hola, ¿cómo estás?</div>
            <div class="message sent">¡Todo bien, gracias!</div>
            <div class="message received">Genial !!!</div>
            <div class="message received">Y, ¿Que haces?</div>
            <div class="message received">¿Vamos a capturar pokemons?</div>
            <div class="message sent">Claro!</div>
        </div>
        <div class="phone-footer">
            <input type="text" class="message-input" placeholder="Escribe un mensaje..." />
            <button class="send-button">Enviar</button>
        </div>
    </div>
</div>
