@{
    ViewData["Title"] = "Retos de Lucha";
}

<script src="~/js/retos.js"></script>

<div class="text-center">
    <img src="~/images/pokeretos.png" alt="Logo Pokémon" class="pokemon-logo mb-4" />
    <div class="retos-container">
        <div class="entrenadores-list">
            <h2>Entrenadores disponibles</h2>
            <br />
            <ul id="entrenadores">
            </ul>
        </div>
        <div class="retos-pendientes">
            <h2>Retos recibidos</h2>
            <br />
            <ul id="retos">
            </ul>
        </div>
    </div>
</div>

