body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

.enfermeria-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
}

h2 {
    color: #2c3e50;
    margin-bottom: 10px;
}

input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
    margin-bottom: 10px;
}

button {
    padding: 8px 16px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
}

    button:hover {
        background-color: #2980b9;
    }

.enfermeras-list, .pokemones-pendientes {
    width: 45%;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    overflow-y: auto;
    max-height: 300px;
}

    .enfermeras-list ul, .pokemones-pendientes ul {
        list-style-type: none;
        padding: 0;
    }

    .enfermeras-list li, .pokemones-pendientes li {
        background-color: #f1f1f1;
        margin: 5px 0;
        padding: 8px;
        border-radius: 4px;
    }


select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}