.enfermeria-container {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    padding: 20px;
    background-color: #f7f9fc;
    border-radius: 10px;
}

.enfermeras-list,
.pokemones-pendientes {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 45%;
}

h2 {
    color: #333;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

input[type="text"],
select {
    width: calc(100% - 22px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

    button:hover {
        background-color: #45a049;
    }

.enfermeras-list {
    flex: 1;
}

.pokemones-pendientes {
    flex: 1;
}

@media (max-width: 768px) {
    .enfermeria-container {
        flex-direction: column;
        align-items: center;
    }

    .enfermeras-list,
    .pokemones-pendientes {
        width: 90%;
    }
}
