@model ProyectoG2_Pokedex.Models.EnfermeriaModel

<h2>Agregar Pokémon</h2>

<form asp-action="Agregar" asp-controller="Enfermeria" method="post">
    <div class="form-group">
        <label for="NombrePokemon">Nombre del Pokémon</label>
        <input type="text" class="form-control" id="NombrePokemon" name="NombrePokemon" required />
    </div>
    <div class="form-group">
        <label for="NombreDueño">Nombre del Dueño</label>
        <input type="text" class="form-control" id="NombreDueño" name="NombreDueño" required />
    </div>
    <div class="form-group">
        <label for="Padecimiento">Padecimiento</label>
        <input type="text" class="form-control" id="Padecimiento" name="Padecimiento" required />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Guardar</button>
    <br />
    <a asp-action="Enfermeria" asp-controller="Enfermeria" class="btn btn-secondary">Cancelar</a>
</form>
