@{
    ViewData["Title"] = "Servicio de Enfermería";
}

<link rel="stylesheet" href="~/css/site.css" />

<div class="text-center">
    <img src="~/images/pokentrenadores.png" alt="Logo Pokemon" class="pokemon-logo mb-4" />
    <div class="enfermeria-container">
        <div class="pokemones-list">
            <h2>Pokemones en la Enfermería</h2>
            <ul id="pokemones"></ul>
            <br />
            <input type="text" id="nuevoPokemon" placeholder="Nombre del Pokemon" />
            <br />
            <br />
            <button class="add-btn" onclick="addPokemon()">Ingresar Pokemon</button>
        </div>
    </div>
</div>

<script src="~/js/enfermeria.js"></script>
