@{
    ViewData["Title"] = "Enfermera";
}

<!-- Enlace a la hoja de estilos -->
<link rel="stylesheet" href="~/css/pokedex.css" />
<link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet" />

<div class="container">
    <div class="text-center">
        <img src="~/images/logopokemon1.png" alt="Logo Pokémon" class="pokemon-logo mb-4" />
    </div>
    <h1>Atención de Enfermería</h1>
    <ol id="enfermeria"></ol>
</div>

<!-- Vincula el archivo JavaScript -->
<script src="~/js/enfermeria.js"></script>
