@{
    ViewData["Title"] = "Atención de Enfermeria";
}
<link rel="stylesheet" href="~/css/pokedex.css" />

<div class="container">
    <div class="text-center">
        <img src="~/images/pokeenfermeria.png" alt="Logo Pokémon" class="pokemon-logo mb-4" />
    </div>
</div>
<script src="~/js/enfermeria.js"></script>
