@{
    ViewData["Title"] = "Servicio de Enfermería";
}

<link rel="stylesheet" href="~/css/site.css" />

<div class="text-center">
    <img src="~/images/pokeenfermeria.png" alt="Logo Pokémon" class="pokemon-logo mb-4" />
    <h2 class="mb-4">Lista de Pokemons en Lista de Espera</h2>
    <div id="pokemon-list">
        <script src="~/js/enfermeria.js"></script>
    </div>
</div>
