@{
    ViewData["Title"] = "Enfermería";
}

<script src="~/js/enfermeria.js"></script>

<div class="text-center">
    <img src="~/images/pokeenfermeria.png" alt="Logo Pokémon" class="pokemon-logo mb-4" />
    <div class="enfermeria-container">
        <div class="enfermeras-list">
            <h2>Enfermeras Disponibles</h2>
            <br />
            <ul id="pokemones">
            </ul>
        </div>
        <div class="pokemones-pendientes">
            <h2>Pokemones Pendientes de Atención</h2>
            <br />
            <ul id="pokemones">
            </ul>
        </div>
    </div>
</div>
