@{
    ViewData["Title"] = "Enfermeria";
}
<h1>@ViewData["Title"]</h1>

<!-- Enlace a la hoja de estilos -->
<link rel="stylesheet" href="~/css/pokedex.css" />

<div class="container">
    <div class="text-center">
        <img src="~/images/logopokemon1.png" alt="Logo Pokémon" class="pokemon-logo mb-4" />
    </div>
</div>

<!-- Vincula el archivo JavaScript -->
<script src="~/js/enfermeria.js"></script>
