@model ProyectoG2_Pokedex.Models.EnfermeriaModel

<h1>Ingresar Nuevo Pokémon a Enfermería</h1>

<form asp-action="IngresarPokemon" method="post">
    <div class="form-group">
        <label for="AtencionID">ID Atención</label>
        <input type="number" class="form-control" id="AtencionID" name="AtencionID" required />
    </div>

    <div class="form-group">
        <label for="NombrePokemon">Nombre Pokémon</label>
        <input type="text" class="form-control" id="NombrePokemon" name="NombrePokemon" required />
    </div>

    <div class="form-group">
        <label for="NombreDueño">Nombre Dueño</label>
        <input type="text" class="form-control" id="NombreDueño" name="NombreDueño" required />
    </div>

    <div class="form-group">
        <label for="Padecimiento">Padecimiento</label>
        <input type="text" class="form-control" id="Padecimiento" name="Padecimiento" required />
    </div>

    <div class="form-group">
        <label for="Estado">Estado</label>
        <input type="text" class="form-control" id="Estado" name="Estado" required />
    </div>
    <br />

    <button type="submit" class="btn btn-success">Ingresar</button>
</form>